{% extends 'myapp/base.html' %}
{% load static %}

{% block maincontent %}
<table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Notification</th>
        <th>PDF</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>12/5/2024</td>
        <td>List of students passed out 2024</td>
        <td><a href="#" target="_blank">Download</a></td>
      </tr>
      <tr>
        <td>12/5/2023</td>
        <td>List of students passed out 2023</td>
        <td><a href="#" target="_blank">Download</a></td>
      </tr>
      <tr>
        <td>12/5/2022</td>
        <td>List of students passed out 2022</td>
        <td><a href="#" target="_blank">Download</a></td>
      </tr>
      <tr>
        <td>12/5/2021</td>
        <td>List of students passed out 2021</td>
        <td><a href="#" target="_blank">Download</a></td>
      </tr>
      <tr>
        <td>12/5/2020</td>
        <td>List of students passed out 2020</td>
        <td><a href="#" target="_blank">Download</a></td>
      </tr>
      <tr>
        <td>12/5/2019</td>
        <td>List of students passed out 2019</td>
        <td><a href="#" target="_blank">Download</a></td>
      </tr>
      <tr>
        <td>12/5/2018</td>
        <td>List of students passed out 2018</td>
        <td><a href="#" target="_blank">Download</a></td>
      </tr>
      <tr>
        <td>12/5/2017</td>
        <td>List of students passed out 2017</td>
        <td><a href="#" target="_blank">Download</a></td>
      </tr>
      <tr>
        <td>12/5/2016</td>
        <td>List of students passed out 2016</td>
        <td><a href="#" target="_blank">Download</a></td>
      </tr>
      <tr>
        <td>12/5/2015</td>
        <td>List of students passed out 2015</td>
        <td><a href="#" target="_blank">Download</a></td>
      </tr>
      <tr>
        <td>12/5/2014</td>
        <td>List of students passed out 2014</td>
        <td><a href="#" target="_blank">Download</a></td>
      </tr>
    </tbody>
  </table>
  <div class="text-center mt-4 mb-4">
    <button class="btn btn-primary mx-2">Previous</button>
    <span class="mx-2">1</span>
    <span class="mx-2">2</span>
    <span class="mx-2">3</span>
    <button class="btn btn-primary mx-2">Next</button>
  </div>
  
{% endblock maincontent %}
    